@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300&display=swap');
*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mulish';
    color: white;
   
}
body{
    background-image: linear-gradient(to bottom right, rgb(22, 22, 22), rgb(44, 44, 42));
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}
.navbar{
    background-color:#ffffff00; 
    
   
}

.menu_active{
    color: rgb(238, 234, 12) !important; 
    font-weight: bold;
    border-bottom: 1px solid rgb(238, 234, 12);
} 
.navbar-brand{
    font-size: 1.9rem;
    color: #ffffff;
    
}
.bg-white {
    background-color: #fff0 !important;
}

.navbar-light .navbar-nav .nav-link {
    color: rgb(255, 255, 255);
}
.navbar-light .navbar-brand {
    color: rgba(255, 255, 255, 0.9);
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color:rgb(238, 234, 12);
}
.custom-toggler.navbar-toggler { 
    border-color: rgb(229, 255, 0); 
} 

.btn-outline-warning {
    color:rgb(238, 234, 12);
    border-color: rgb(238, 234, 12);
    border-radius: 30px;
    transition: 0.5s;
}
.brand-name {
    color: rgb(238, 234, 12);
}
.navbar-dark .navbar-brand {
   
    color: rgb(238, 234, 12);
}
#profileimg{
    border-radius:0;
} 


.container {

    position: relative;
   
  }
  
  .www {
    margin-top: 20px;
    display: block;
    width: 100%;
    height: auto;
   

   
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8), 0 10px 20px 0 rgba(0, 0, 0, 0.19);
    
  }
  
  .overlay {
    position: absolute;
    bottom: 0;
    left: 100%;
    right: 0;
    background-color: #0000002d;
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: .5s ease;
    
  }
  
  .container:hover .overlay {
    width: 48%;
    left: 50%;
  }
  
  #text {
    
    white-space: nowrap; 
    color: rgb(255, 255, 255);
    font-size: 15px;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);

  }

  #text{
  
    padding: 20px;
  }
  
  @media screen and (min-width: 601px) {
   #text {
      font-size: 15px;
    }
  }
  
  @media screen and (max-width: 600px) {
    #text {
      font-size: 10px;
    }
  }



  #text > b{
      color: rgb(238, 234, 12);
  }

  #header {
    height: 100%;
    padding-bottom: 50px;
  }

  #imgpad{
      padding: 0;
  }